@model IEnumerable<Vidloq.Models.Cliente>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Clientes</h2>

@Html.ActionLink("Cadastrar", "Adicionar", "Clientes", null, new { @class = "btn btn-success"})

<div class="mainbody">

@if (!Model.Any())
{
    <p>Nenhum cliente cadastrado.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="active">
            <th>Cliente</th>
            <th>Plano</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@Html.ActionLink(cliente.Nome, "Detalhes", "Clientes", new { id = cliente.ClienteId }, null)</td>
                <td>@cliente.Plano.Titulo</td>
            </tr>
        }
        </tbody>
    </table>

}
</div>