@model IEnumerable<Vidloq.Models.Filme>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmes</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Filme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var filme in Model)
        {
            <tr>
                <td>@filme.Titulo</td>
            </tr>
        }
    </tbody>
</table>