@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidloq</h1>
    <p class="lead">Seu clube de jogos para as plataformas Xbox, Microsoft e Nintendo.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>